/*#top-header {*/
/*    color: red;*/
/*    font-style: italic;*/
/*    text-align: center;*/
/*}*/

body #top-header {
    color: #5585b5;
    font-style: italic;
    text-align: center;
}

h2 {
    color: #53a8b6;
}

#items-header {
    color: #555555;
}

.welcome-username{
    color: white;
    font-size: large;
    font-weight: bold;
}

.introduction {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}


body {
    background-color: #bbe4e9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #79c2d0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.posts-container {
    margin-top: 20px;
}

.post {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post h2 {
    color: #333;
}

.post h5 {
    color: #666;
}

.post p {
    color: #555;
}

footer {
    text-align: center;
    margin-top: 20px;
    /*margin-bottom: 20px;*/
    padding: 10px;
    background-color: #53a8b6;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*max-width: 800px;*/
    /*margin-left: 310px;*/

}

.footer-title {
    color: white;
}